.city-bg {
  height: 32rem;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.city-details-wrapper h3 {
  font-weight: bold;
  font-family: "Montserrat", "Raleway", sans-serif;
  font-size: 1.5em;
}
.city-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
.city-bg-detail {
  display: flex;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  align-items: top;
  justify-content: center;
  font-size: 100%;
  margin-top: 4em;
}
.city-bg-detail span {
  padding: 0.1em 0.56em;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.ratings-reviews {
  position: absolute;
  bottom: 5px;
  right: 4vw;
  text-align: end;
}
.ratings-reviews .ratings {
  padding: 10px 15px;
  background-color: #fff;
}
.ratings-reviews .ratings i {
  color: rgba(245, 197, 24, 1);
}
.ratings-reviews .reviews {
  padding: 10px 15px;
  background-color: rgba(40, 53, 147, 1);
}
.ratings-reviews span {
  font-size: 16px;
}
.cities-description {
  font-size: 16px;
}
p.cities-description::first-letter,
p.category-detail::first-letter {
  text-transform: uppercase;
}
.category-details h4 {
  font-weight: bold;
}
.category-details span {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.category-image-container {
  height: 200px;
}
.category-image {
  width: 100%;
  height: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.category-data .MuiPaper-root {
  transition: all 0.3s ease-in-out;
}
.category-data:hover h4 {
  color: white !important;
}
.category-data:hover .MuiPaper-root {
  background-color: rgba(0,0,0,.7);
  cursor: pointer;
  color: white !important;
  transition: all 0.3s ease-in-out;
}
img.user-image-comment {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.fa-ellipsis-h {
  cursor: pointer;
}
.comment-option span:hover {
  cursor: pointer;
  color: red;
}
@media screen and (max-width: 1024px) {
  .city-bg {
    height: 32rem;
    background-position: center !important;
    background-attachment: scroll;
  }
  .city-bg-detail span {
    font-size: 4vw;
  }
}
@media screen and (max-width: 767px) {
  .city-bg {
    height: 18rem;
    background-position: center !important;
    background-attachment: scroll;
  }
  .city-bg-detail span {
    font-size: 6vw;
  }
  .ratings-reviews span {
    font-size: 12px;
  }
  .ratings-reviews .reviews,
  .ratings-reviews .ratings {
    padding: 5px;
  }
  .category-details {
    margin: 0 8px;
  }
}
