/* .error-page {
  height: calc(90vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.error-page {
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error-page .content {
  text-align: center;
}
.error-page .content a .fa {
  margin-right: 5px;
  transition: margin-right ease-out .4s;
}
.error-page .content a:hover .fa {
  margin-right: 15px; 
  transition: margin-right ease-in .4s;
}
.error-page a > h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  color: #000;
}
.error-page a.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  opacity: 0.6;
}
