body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f5f7;
  /* padding-top: 68px; */
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
}
@media screen and (max-width: 767px) {
  /* body {
    padding-top: 63px;
  } */
  .carousel-container .anticon-right,
  .carousel-container .anticon-left {
    display: none !important;
  }
}

code {
  font-family: "Montserrat", monospace;
}

.alert {
  border-radius: 0;
}
